$dark-grey: rgb(39, 40, 34);
$grey: lighten($dark-grey, 8%);
//$grey: #4c4d46;
$light-grey: lighten($grey, 22%);
$green: #a6e22e;
$red: rgb(255, 15, 60);
$blue: #66d9ef;

* {
	margin: 0px;
}
body, html {
	padding: 0px;
	height: 100%;
	color: lighten($grey, 70%);
	background-color: $grey;
}

pre , textarea, #console {
	font-size: 16px;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	tab-size: 4;
}

.container {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 80%;
	min-width: 500px;
	max-width: 900px;
	margin: 0px auto -150px;
}

#output, #console {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	left: 0px;
}

#output {
	 padding: 10px 0px 150px 0px;
	.out-block {
		position: relative;
		display: block;
		padding: 10px 15px;
		border-radius: 10px;
		margin-top: 0px;
		background-color: $dark-grey;
		cursor: pointer;
		&:hover {
			background-color: darken($dark-grey, 5%);
		}
	}
}

.result-block {
	position: relative;
	box-sizing: border-box;
	white-space: pre-wrap;
	overflow-x: auto;
	display: block;
	padding: 2px 10px 10px 25px;
	text-shadow: 1px 1px 8px darken($dark-grey, 5%);
	width: 100%;
}

.success {
	color: $green;
}
.error {
	color: $red;
}
.user {
	color: $blue;
}

.unescaped {
	padding-top: 10px;
	text-shadow: none;
	font-family: sans-serif;
}

#console {
	position: absolute;
	//color: $dark-grey;
	//padding: 10px;
	height: 150px;
	bottom: 0px;
	//outline-color: transparent;
	//outline: none;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid $grey;
	//border-bottom: 0px;
	//background-color: $light-grey;
	//resize: none;
	//background-color: lighten($light-grey, 3%);
}

@media screen and (max-width: 500px) {
	.container {
		min-width: 200px;
		width: 100%;
	}
	#console, .out-block {
		border-radius: 0px !important;
		border-left: 0px;
		border-right: 0px;
	}
}